.edited:hover {	 outline:3px dashed rgba(0,0,0, 0.81);  }
@media all and (min-width: 775px) {    
	.header {    top: 32px;}   

}
@media all and (max-width: 799px) {
	body.inner_page {   padding-top: 0px;  }    
	.header {    top: 0px;}
	.o-grid__item {    top: 0px;}
       
      header {
        top: 46px !important;
       }
       .o-grid__item {
          top: 49px !important;
        
        }
       
}

 .edited:hover {
            outline: 3px dashed rgba(0, 0, 0, 0.81);
        }